<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
        Agenda
      </ion-title>
  </ion-toolbar>
</ion-header>


    <ion-content>
 
        <!-- Card for adding a new event -->
        <ion-card>
          <ion-card-header tappable (click)="collapseCard = !collapseCard">
            <ion-card-title color='secondary'>Novo Evento</ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="!collapseCard" class="labelFormat">
       
            <ion-item>
              <ion-input type="text" class="input-form" placeholder="Novo Evento" [(ngModel)]="event.title"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" class="input-form" placeholder="Descrição" [(ngModel)]="event.description"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" class="input-form" placeholder="Rua(opcional)" [(ngModel)]="event.address.complement"></ion-input>
              <ion-input type="text" class="input-form" placeholder="Número(opcional)" [(ngModel)]="event.address.number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" class="input-form" placeholder="CEP(opcional)" [(ngModel)]="event.address.cep"></ion-input>
              <ion-input type="text" class="input-form" placeholder="Bairro(opcional)" [(ngModel)]="event.address.neighborhood"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" class="input-form" placeholder="Cidade(opcional)" [(ngModel)]="event.address.city"></ion-input>
              <ion-input type="text" class="input-form" placeholder="Estado(opcional)" [(ngModel)]="event.address.state"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="input-form">Início</ion-label>
              <ion-datetime color="secondary" displayFormat="DD/MM/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" monthShortNames="Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label class="input-form">Fim</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat= "MMM YYYY D HH:mm" [(ngModel)]="event.endTime"  monthShortNames="Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label class="input-form">Dia inteiro</ion-label>
              <ion-checkbox color="secondary" [(ngModel)]="event.allDay"></ion-checkbox>
            </ion-item>
            <ion-button  expand="block" color="secondary" (click)="addNewEvent()" [disabled]="event.title == ''">Adicionar</ion-button>
       
          </ion-card-content>
        </ion-card>
       
        <ion-row>
          <!-- Change the displayed calendar mode -->
          <ion-col size="4">
            <ion-button expand="block" color="secondary" (click)="changeMode('month')">Mês</ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button expand="block" color="secondary" class="button" (click)="changeMode('week')">Semana</ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button expand="block" color="secondary" (click)="changeMode('day')">Dia</ion-button>
          </ion-col>
       
          <!-- Move back one screen of the slides -->
          <ion-col size="2" text-left>
            <ion-button fill="clear" (click)="back()">
              <ion-icon name="arrow-back" color='secondary' slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="8" text-center>
          <ion-text id='texto' color='secondary' font-weight='bold'>{{mesAtual.data}}</ion-text>         
        </ion-col>
        <!-- Move forward one screen of the slides -->
          <ion-col size="2" text-right>
            <ion-button fill="clear" (click)="next()">
              <ion-icon name="arrow-forward" color='secondary' slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      <calendar [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      startHour="0"
      endHour="24"
      startingDayWeek="1"
      step="30"
      noEventsLabel="Sem eventos"
      allDayLabel="Integral">
      </calendar>
    

</ion-content>