<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <ion-title>
          Perfil
        </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-list>
        <ion-item [routerDirection]="'root'" routerLink="user">
          <ion-avatar slot="start">
            <img src={{foto_perfil}}>
          </ion-avatar>
          <ion-label>
            <h2>Pedro Souza</h2>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <h3>293 Prestações</h3>
                </ion-col>
                <ion-col>
                  <h3>35 Contratações</h3>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>

        <ion-item [routerDirection]="'root'" routerLink="settings">
            <ion-icon slot="start" name="settings"></ion-icon>
            <ion-label>
              Preferências
            </ion-label>
          </ion-item>

        <ion-item [routerDirection]="'root'" routerLink="help">
            <ion-icon slot="start" name="help-circle-outline"></ion-icon>
            <ion-label>
              Ajuda
            </ion-label>
          </ion-item>

        <ion-item [routerDirection]="'root'" routerLink="about">
            <ion-icon slot="start" name="information-circle"></ion-icon>
            <ion-label>
              Sobre
            </ion-label>
          </ion-item>
      </ion-list>
</ion-content>
