<!-- <ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="modalClose()">
        <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header> -->


<ion-content fullscreen>

  <ion-fab vertical="top" horizontal="end" slot="fixed" >
    <ion-fab-button (click)="modalClose()" size="small">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="image">
    <img src="../../../../assets/img/workerModal/construcao.jpg">
  </div>
  <hr class="solid">

  <ion-col no-padding>
    <ion-row justify-content-center>
      <div style="font-size:x-large;">
        <b>Empreiteiro Pedro Souza</b>
      </div>
    </ion-row>
    <ion-row justify-content-center>
      <div style="font-size:larger;">
        Construção Civil • <span style="color: #662E93;"><b>Pedreiro</b></span>
      </div>
    </ion-row>
  </ion-col>

  <div class="description">
    <ion-col>
      <ion-row>
        <div style="font-size:larger;">
          <span style="color: #662E93;"><b>Descrição:</b></span>
        </div>
      </ion-row>
      <ion-row>
        <div style="font-size:medium;">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make a type specimen book. It has survived not only five centuries, but also the leap into electronic
          typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.
        </div>
      </ion-row>
      <br>
      <ion-row align-items-center>
        <ion-col>
          <div style="font-size:small;" text-start>
            97 Serviços Prestados
          </div>
        </ion-col>
        <ion-col>
          <div style="font-size:small;" text-end>
            Avaliação
          </div>
        </ion-col>
      </ion-row>
      <br>
      <ion-row justify-content-center>
        <div style="font-size: 280%;">
          <b>R$75,00</b>
        </div>
      </ion-row>
    </ion-col>
  </div>
  <ion-row justify-content-center>
    <ion-button shape="round" color="secondary" (click)="presentActionSheet()">Contato</ion-button>
  </ion-row>
  <ion-row justify-content-center>
    <ion-card>
      <ion-card-header tappable (click)="collapseCard = !collapseCard">
        <ion-card-title color='secondary'>Agendar</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="!collapseCard" class="labelFormat">
   
        <ion-item>
          <ion-input type="text" class="input-form" placeholder="Novo Evento" [(ngModel)]="event.title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" class="input-form" placeholder="Descrição" [(ngModel)]="event.description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" class="input-form" placeholder="Rua(opcional)" [(ngModel)]="event.address.complement"></ion-input>
          <ion-input type="text" class="input-form" placeholder="Número(opcional)" [(ngModel)]="event.address.number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" class="input-form" placeholder="CEP(opcional)" [(ngModel)]="event.address.cep"></ion-input>
          <ion-input type="text" class="input-form" placeholder="Bairro(opcional)" [(ngModel)]="event.address.neighborhood"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" class="input-form" placeholder="Cidade(opcional)" [(ngModel)]="event.address.city"></ion-input>
          <ion-input type="text" class="input-form" placeholder="Estado(opcional)" [(ngModel)]="event.address.state"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="input-form">Início</ion-label>
          <ion-datetime color="secondary" displayFormat="DD/MM/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" monthShortNames="Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label class="input-form">Fim</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY HH:mm" pickerFormat= "MMM YYYY D HH:mm" [(ngModel)]="event.endTime"  monthShortNames="Jan, Fev, Mar, Abr, Mai, Jun, Jul, Ago, Set, Out, Nov, Dez"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label class="input-form">Dia inteiro</ion-label>
          <ion-checkbox color="secondary" [(ngModel)]="event.allDay"></ion-checkbox>
        </ion-item>
        <ion-button  expand="block" color="secondary" (click)="addNewEvent()" [disabled]="event.title == '' || event.startTime=='' || event.endTime==''">Agendar</ion-button>
   
      </ion-card-content>
    </ion-card>
  </ion-row>
  
  <br>
  

</ion-content> 

















<!-- <ion-content>
  <ion-card>
    <ion-card-title padding-start>
      <h1>{{Obj_worker.title}}</h1>
      <br>
    </ion-card-title>
    <img src="../../../../assets/img/tester.png" />
    <ion-card-header>
      <ion-card-subtitle>{{Obj_worker.category[0].title}}</ion-card-subtitle>
      <ion-card-title>{{Obj_worker.subcategory[0].title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{Obj_worker.description}}
    </ion-card-content>
  </ion-card>


  <ion-col>
    <ion-row no-padding justify-content-center>
      <h2 style="font-size: 35px;">R$ {{Obj_worker.price}}</h2>
    </ion-row>
    <ion-row justify-content-center align-items-center>
      <ionic4-star-rating activeIcon="ios-star" activeColor="#FBEC08" defaultColor="#FBEC08"
        defaultIcon="ios-star-outline" readonly="true" rating="4.3" halfStar="true" fontSize="25px">
      </ionic4-star-rating>
      <p>4.3</p>
    </ion-row>
  </ion-col> -->




<!-- <ion-button padding color="secondary" expand="full" (click)="presentActionSheet()">
    Entrar em contato
  </ion-button> -->

<!-- <ion-fab style="margin-top: 10px; margin-bottom: 10px;" horizontal="center">
    <ion-fab-button color="light">
      <ion-icon name="call"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button (click)="openEmail()" color="dark">
        <ion-icon name="mail-unread"></ion-icon>
      </ion-fab-button> -->

<!-- <ion-fab-button (click)="openCall()" color="dark">
        <ion-icon name="call"></ion-icon>
      </ion-fab-button> -->

<!-- </ion-fab-list>
    <ion-fab-list side="start"> -->


<!-- <ion-fab-button (click)="developing()" color="dark">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button> -->


<!-- <ion-fab-button (click)="developing()" color="dark">
        <ion-icon name="chatboxes"></ion-icon>
      </ion-fab-button>
    </ion-fab-list> -->

<!-- Temporary call button -->

<!-- <ion-fab-list side="bottom">
      <ion-fab-button (click)="openCall()" color="dark">
        <ion-icon name="call"></ion-icon>
      </ion-fab-button>
    </ion-fab-list> -->

<!-- Temporary call button -->

<!-- </ion-fab>
  <br>
</ion-content> -->