<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="profile"></ion-back-button>
      </ion-buttons>
      <ion-title>
          Sobre
        </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>

  <p class="page-text">Eu Trampo é um aplicativo para dispositivos móveis que utilizam os sistemas operacionais IOS e Android. 
    
    Esta plataforma conta com uma infraestrutura de monitoramento e acompanhamento do cenário de oferta de mão de obra e negócios, bem como integração com as instituições de formação profissional.</p>
  
  <img src="../../../assets/img/Logo-Horizontal.png" class="center" width="180" alt="eutrampo-logo">

  <p class="page-subtext">Copyright ₢ 2019 por Eu Trampo<br>
    Todos os direitos reservados<br> 
    v1.0.0.0
  </p>
  
  

</ion-content>
