<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar color="light" placeholder="Pesquisar" ></ion-searchbar>
    <!-- <ion-buttons (click)={} slot="end">
      <ion-icon style="font-size: 25px;" name="more"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Últimos Serviços Contratados
    </ion-list-header>

    <ion-item *ngFor="let service of recent_services" (click)= 'showModal()'>
      <ion-avatar slot="start">
        <img [src]=service.pic>
      </ion-avatar>
      <ion-col>
        <ion-label>
          <h2>{{service.name}}</h2>
          <h3>{{service.servicetype}}</h3>
          <p>{{service.provided}} Serviços Prestados</p>
        </ion-label>
      </ion-col>
      <ion-col class="center" size="8px">
        <ion-label>
          <p>{{service.price | currency:"BRL":true:"1.2" }}</p>
        </ion-label>
      </ion-col>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header>
      Serviços Mais Contratados
    </ion-list-header>

    <ion-item *ngFor="let service of recent_services" [href]=service.redirectTo>
      <ion-avatar slot="start">
        <img [src]=service.pic>
      </ion-avatar>
      <ion-col>
        <ion-label>
          <h2>{{service.name}}</h2>
          <h3>{{service.servicetype}}</h3>
          <p>{{service.provided}} Serviços Prestados</p>
        </ion-label>
      </ion-col>
      <ion-col class="center" size="8px">
        <ion-label>
          <p>{{service.price | currency:"BRL":true:"1.2" }}</p>
        </ion-label>
      </ion-col>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header>
      Serviços Mais Bem Avaliados
    </ion-list-header>

    <ion-item *ngFor="let service of recent_services" [href]=service.redirectTo>
      <ion-avatar slot="start">
        <img [src]=service.pic>
      </ion-avatar>
      <ion-col>
        <ion-label>
          <h2>{{service.name}}</h2>
          <h3>{{service.servicetype}}</h3>
          <p>{{service.provided}} Serviços Prestados</p>
        </ion-label>
      </ion-col>
      <ion-col class="center" size="8px">
        <ion-label>
          <p>{{service.price | currency:"BRL":true:"1.2" }}</p>
        </ion-label>
      </ion-col>
    </ion-item>

  </ion-list>
  
</ion-content>
