<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="modalClose()">
        <ion-icon  slot="icon-only" name="arrow-down"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Novo Serviço
      </ion-title>
  </ion-toolbar >
</ion-header>

<ion-content>

    <ion-select placeholder='Categoria' interface="action-sheet" [(ngModel)]="selected" (click)="clear()">
      <ion-select-option *ngFor="let service of allServicesList">{{service.title}}</ion-select-option>
    </ion-select>

    <ion-select *ngIf="selected"placeholder='Subcategoria' interface="action-sheet" (click)="nextStep(selected)" [(ngModel)]="subselected">
      <ion-select-option *ngFor="let sub of subList">{{sub.title}}</ion-select-option>
    </ion-select>

    <ion-item>
      <ion-input type="text" class="input-form" placeholder="Descrição" [(ngModel)]="worker.description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" class="input-form" placeholder="Preço" [(ngModel)]="worker.price"></ion-input>
    </ion-item>
    
    <ion-button color="secondary" expand="block" [disabled]="subselected == ''"(click)="submit(subselected)">Enviar</ion-button>
    
</ion-content>
