<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="modalClose()">
        <ion-icon  slot="icon-only" name="arrow-down"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      </ion-title>
  </ion-toolbar >
</ion-header>

<ion-content padding-top>
  <ion-card>
    <ion-card-title padding-start>
      <h1>{{hired.name}}</h1>
    </ion-card-title>
    <img src="../../../../assets/img/pedro.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Serviço:</ion-card-subtitle>
      <ion-card-title>{{hired.type}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      {{ hired.bio }}    </ion-card-content>
  </ion-card>

  
    <ion-col>
      <ion-row no-padding justify-content-center>
        <h5>R$</h5>
        <h2 style="font-size: 35px;">{{hired.price}}</h2>
      </ion-row>
      <ion-row justify-content-center align-items-center>
        <ionic4-star-rating *ngIf="hired.rated == false" #rating
        activeIcon = "ios-star"
        defaultIcon = "ios-star-outline"
        activeColor = "#fbec08"
        defaultColor = "#aaaaaa"
        readonly = "false"
        rating= 0
        fontSize = "32px"
        (ratingChanged)="logRatingChange($event)"
        >
    </ionic4-star-rating>
  </ion-row>
    <ion-row justify-content-center>
    <ion-button *ngIf="hired.rated == false" color="secondary" (click)="sendRating(hired)">Enviar</ion-button>

      </ion-row>
      <ion-row justify-content-center>
         <ion-text *ngIf="hired.rated == true"> Serviço já avaliado</ion-text>
      </ion-row>
    </ion-col>


  

  <!-- <ion-button padding color="secondary" expand="full" (click)="presentActionSheet()">
    Entrar em contato
  </ion-button> -->

  <ion-fab style="margin-top: 10px; margin-bottom: 10px;"horizontal="center">
    <ion-fab-button color="light">
      <ion-icon name="call"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button color="dark">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="dark">
        <ion-icon name="call"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button color="dark">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="dark">
        <ion-icon name="chatboxes"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>