<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="profile/user"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-list lines="none">
        <ion-item>
          <p>Alteração de Senha:<p>
        </ion-item>
    
        <ion-item>
            <ion-input padding type="password" [(ngModel)]="password.oldPassword" placeholder="Senha Atual"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input padding type="password" [(ngModel)]="password.newPassword" placeholder="Nova Senha"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input padding type="password" [(ngModel)]="password.confirmPassword" placeholder="Confirmar Nova Senha"></ion-input>
    </ion-item>
        
    </ion-list>
    
    <div class="center">
      <ion-button padding color="secondary" (click)="changePassword()">Confirmar</ion-button>
    </div>
</ion-content>
