ion-avatar#Foto{
    height: 100px;
    width: 100px;
    margin-left: 145px;
    margin-top: 20px;

}
ion-fab{
    margin-left: 220px;
    margin-top: 90px;
}
ion-fab-button{
    height: 30px;
    width: 30px;
}
ion-icon{
    color:black;
}
