<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="profile"></ion-back-button>
      </ion-buttons>
      <ion-title>
          Perfil do Usuário
        </ion-title>
    </ion-toolbar>
  </ion-header>
    
<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="userData.image">
      </ion-avatar>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input [(ngModel)]="userUpdate.name" placeholder="{{userData.name}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Bio</ion-label>
      <ion-textarea [(ngModel)]="userUpdate.bio" placeholder="{{userData.bio}}"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="userUpdate.email" placeholder="{{userData.email}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Telefone</ion-label>
      <ion-input [(ngModel)]="userUpdate.phone" placeholder="{{userData.phone}}"></ion-input>
    </ion-item>

    <ion-item [routerDirection]="'root'" routerLink="password">
      <ion-label position="stacked">Senha</ion-label>
      <p></p>
    </ion-item> 

    <br>
  <ion-button expand="block" color="secondary" (click)="updateUser()" >Editar Dados</ion-button>
  <br>
  <!-- <ion-button expand="block" color="danger" (click)="deleteRecord()" >Excluir Conta</ion-button> -->


  </ion-list>
</ion-content>