<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="profile"></ion-back-button>
      </ion-buttons>
      <ion-title>
          Usuário
        </ion-title>
    </ion-toolbar>
  </ion-header>
    
<ion-content>
  <ion-list *ngFor="let item of users">
    <ion-item [routerDirection]="'root'" routerLink="user">
      <ion-avatar slot="start">
        <img src="./avatar-finn.png">
      </ion-avatar>
      <ion-label position="stacked">Nome</ion-label>
      <ion-input placeholder="{{item.Name}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Bio</ion-label>
      <ion-textarea placeholder="Fale um pouco mais sobre você..."></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input placeholder="{{item.Email}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Telefone</ion-label>
      <ion-input placeholder="{{item.Phone}}"></ion-input>
    </ion-item>

    <ion-item [routerDirection]="'root'" routerLink="password">
      <ion-label position="stacked">Senha</ion-label>
      <p>••••••</p>
    </ion-item>


  </ion-list>
</ion-content>

