.message{
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
}
.other-message{
    background: gray;
    color: white;
}
.my-message{
    background: green;
    color: white;
}
.time{
    color:black;
    float: right;
    font-size: small;
}
.message-input{
    width:100%;
    border: 1px solid;
    border-radius: 10px;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
}
.msg-btn{
    --padding-start: 0.5em;
    --padding-end:0.5em;
}