<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Serviços Contratados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item *ngFor="let hired of hiredData" (click)="showModal(hired)">
      <ion-label>
      <ion-text>
        <h1>
          {{ hired.name }}
        </h1>
      </ion-text>
      <ion-text>
        <h2>
        {{hired.total}} <ion-icon name="star" color='primary'></ion-icon>
        </h2>
     
      </ion-text>
      <ion-text>
        <p>
         R$ {{hired.price}} 
        </p>
      </ion-text>
    </ion-label>
      
    </ion-item>
    
</ion-content>
