<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Serviços Contratados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let hired of hiredList | slice:0:6; let i=index" (click)="showModal()">
      <ion-item>  
        <ion-avatar slot="start">
          <img src="../../../assets/img/pedro.jpg">
        </ion-avatar>
        <ion-col>
          <ion-label>
            <h2>{{hired.title}}</h2>
            <h3>{{hired.servicetype}}</h3>
            <p>{{hired.provided}} Serviços Prestados</p>
          </ion-label>
        </ion-col>
        <ion-col class="center" size="8px">
          <ion-label>
            <p>{{hired.price | currency:"BRL":true:"1.2" }}</p>
          </ion-label>
        </ion-col>
      </ion-item>
    </ion-card>

  </ion-list>
    
</ion-content>
